* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
section {
  width: 100%;
}
nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
nav ul {
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 30px;
}

.menu-btn {
  display: none;
}
nav ul a {
  color: white;
  text-decoration: none;
  font: 1em inter;
  font-weight: bold;
  padding: 0 15px;
  align-content: center;
}
.logo {
  font: 2em sen;
  font-weight: bold;
  color: white;
}

.hero-section {
  background-color: black;
  width: 100%;
  color: white;
  padding: 3em;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.hero-section .hello {
  font: 32px inter;
  font-weight: bold;
  padding: 0;
}
.hero-section h1 {
  font: 3em sen;
  font-weight: bolder;
}
.hero-section .photo {
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
}

.hero-section p span {
  color: #01eeff;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #01eeff; /* Simulate cursor */
  display: inline-block;
  vertical-align: bottom; /* Align with other text */
  animation: typing 4s steps(30, end) infinite,
    blink-caret 0.4s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50%,
  100% {
    width: 75%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #01eeff;
  }
}
.btn {
  display: block;
  background-color: #01eeff;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  border-radius: 16;
  width: 225px;
  height: 52px;
  margin: 2em;
}
.about {
  background-color: #323846;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  color: white;
  height: 100vh; /* Full viewport height */
}
.interest,
.project {
  background-color: #323846;
  padding: 20px;
}
.about div {
  width: 50%;
}
h1 span {
  color: #01eeff;
  white-space: nowrap;
}
h2 {
  color: #01eeff;
  white-space: nowrap;
}
h3 {
  color: white;
  padding: 0 10px;
}
.experience h3 {
  color: white;
  padding: 10px;
}
.experience h3 span {
  color: #01eeff;
}
.skills,
.experience,
.contact {
  background-color: black;
  padding: 20px;
}
p {
  color: white;
  padding: 10px;
  text-align: justify;
  font-size: 1em;
  font-family: inter;
}
.experience-item {
  margin: 10px;
  padding: 10px;
  background-color: #323846;
  border-radius: 8px;
}

.project {
  background-color: #323846;
}
p {
  font: 2em;
  padding: 0 2em;
  font-family: inter;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-item {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
  background-color: #323846;
  border-radius: 16px;
  border: #01eeff solid;
  padding: 20px;
  box-sizing: border-box;
}
.skills-item-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 10px; /* Spacing between columns */
  max-width: 600px; /* Set max width for the container */
}
.experience-item-head {
  display: flex;
  justify-content: space-between;
}
.experience-item-head span {
  padding: 10px;
  color: #01eeff;
  font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
.card {
  width: calc(33.33% - 20px);
  background-color: #323846;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  background-color: black;
  padding: 16px;
}

.card-title {
  font-size: 1.25rem;
  margin: 0 0 8px;
  color: #01eeff;
}

.card-text {
  font-size: 1rem;
  color: white;
  word-wrap: break-word;
  margin: 0 0 16px;
}

.form-map {
  margin: 10px;
  padding: 10px;
  display: flex;
}
.contact-info {
  display: flex;
  justify-content: space-evenly;
  font-weight: bolder;
}
.contact-info a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.contact-info span {
  text-decoration: none;
  color: #01eeff;
  font-size: 18px;
}
iframe {
  width: 50%;
}
form {
  padding: 10px;
  margin: 10px;
  background-color: #323846;
  width: calc(50% - 20px);
}
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
label {
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .about {
    display: block; /* Stacks items vertically */
    padding: 10px;
    margin: 0;
  }
  .about h1 {
    padding: 10px;
  }
  #about_aticle {
    width: 100%;
  }
  #image_about {
    display: none;
  }
  .hero-section {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    flex-direction: column;
    justify-content: space-around;
  }
  .card {
    width: 90%;
  }
  .contact-info {
    flex-direction: column;
  }
  .form-map {
    flex-direction: column;
  }
  form,
  iframe {
    width: 100%;
  }
  nav ul {
    flex-direction: column;
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
